/* default styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* background */  
.hero-section{
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 48px;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* logo */
#logo{
    position: relative;
}

#logo-text{
    position: relative;
    left: 90px;
    bottom: 72px;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 42px;
    font-weight: bold;
}

#logo-right{
    color: #FFC12B;
    font-family: 'Oleo Script Swash Caps', cursive;
}

/* nav menu */
#nav-menu{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 24px;
}

#cart{
    width: 48px;
    position: relative;
    bottom: 8px;
}

#menu{
    display: flex;
    gap: 72px;
    list-style: none;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: 230px;
}

#menu li:hover{
    border-bottom: solid #FF6D21 8px;
    padding-bottom: 6px;
}

/* hero title */
#hero-left > :first-child{
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    margin-top: 100px;
    margin-bottom: 48px;
}

/* hero body */
#hero-left > :nth-child(2){
    font-size: 24px;
}