/* default sizing */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* background */  
.hero-section{
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 48px;
}

/* header */
.header{
    display: flex;
    justify-content: space-between;
    
}

/* logo */
#logo{
    position: relative;
}

#logo-text{
    position: relative;
    left: 90px;
    bottom: 72px;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 42px;
    font-weight: bold;
}

#logo-right{
    color: #FFC12B;
}